<!DOCTYPE html>
<html>
  <head>

    <title>Inventory</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lab Inventory Form</h1>

    <div id="task-add-div">
        <form action="/add-task" id="addTaskForm" method="post" role="form">
<<<<<<< HEAD
            <label>business_unit:</label>
            <input type="text" class="form-control" name="business_unit" placeholder="Enter your name"><br>
            <label>lab_name:</label>
            <input type="text" class="form-control" name="lab_name" placeholder="Enter your email"><br>
            <label>location:</label>
            <input type="text" class="form-control" name="location" placeholder="Enter a short description about the problem"><br>
            <label>validated:</label>
            <input type="validated" class="form-control" name="validated" placeholder="Enter a short description about the problem"><br>
            <label>computer_name:</label>
            <input type="computer_name" class="form-control" name="computer_name" placeholder="Enter a short description about the problem"><br>
	    <label>bmrn_asset:</label>
            <input type="numeric" class="form-control" name="bmrn_asset" placeholder="Enter a short description about the problem"><br>
	    <label>pc_make_model:</label>
            <input type="pc_make_model" class="form-control" name="pc_make_model" placeholder="Enter a short description about the problem"><br>

	    <label>os:</label>
            <input type="os" class="form-control" name="os" placeholder="Enter a short description about the problem"><br>
=======

            <label>title:</label>
            <input name="title" type="text" placeholder="E.g. Code more" class="form-control">
            <label>completed </label>
            <input name="completed" type="text" placeholder="E.g. Code more" class="form-control">
>>>>>>> a7156de50c24381264aa0352c6fd5966578571b2
            
                  <label>notes:</label>
                  <input type="notes" class="form-control" name="notes" placeholder="Enter a short description about the problem"><br>
            
                  <label>system_owner:</label>
                  <input type="system_owner" class="form-control" name="system_owner" placeholder="Enter a short description about the problem"><br>
            
		
                  <label>vendor:</label>
                  <input type="vendor" class="form-control" name="vendor" placeholder="Enter a short description about the problem"><br>
            
                  <label>model_instrument_name:</label>
                  <input type="model_instrument_name" class="form-control" name="model_instrument_name" placeholder="Enter a short description about the problem"><br>
            
                  <label>instrument_friendly_name:</label>
                  <input type="instrument_friendly_name" class="form-control" name="instrument_friendly_name" placeholder="Enter a short description about the problem"><br>
            
                  <label>instrument_validation_id:</label>
                  <input type="instrument_validation_id" class="form-control" name="instrument_validation_id" placeholder="Enter a short description about the problem"><br>
            
                  <label>instrument_software:</label>
                  <input type="instrument_software" class="form-control" name="instrument_software" placeholder="Enter a short description about the problem"><br>
            
                  <label>backup_data_format:</label>
                  <input type="backup_data_format" class="form-control" name="backup_data_format" placeholder="Enter a short description about the problem"><br>
            
		
                  <label>nic_address:</label>
                  <input type="nic_address" class="form-control" name="nic_address" placeholder="Enter a short description about the problem"><br>
            
                  <label>ethernet_jack:</label>
                  <input type="ethernet_jack" class="form-control" name="ethernet_jack" placeholder="Enter a short description about the problem"><br>
            
                  <label>ip_address_vlan:</label>
                  <input type="ip_address_vlan" class="form-control" name="ip_address_vlan" placeholder="Enter a short description about the problem"><br>
            
                  <label>image:</label>
                  <input type="image" class="form-control" name="image" placeholder="Enter a short description about the problem"><br>
            
                  <label>backup:</label>
                  <input type="backup" class="form-control" name="backup" placeholder="Enter a short description about the problem"><br>
           
                  <label>decommisioned:</label>
                  <input type="decommisioned" class="form-control" name="decommisioned" placeholder="Enter a short description about the problem"><br>
            
                  <label>last_verified:</label>
                  <input type="last_verified" class="form-control" name="last_verified" placeholder="Enter a short description about the problem"><br>
           
                  <label>Add a Screenshot:</label>
                  <input type="Add a Screenshot" name="Add a Screenshot" id="profilepic"><br>
            <div>
	<input type="submit" class="btn btn-primary" value="Submit"/>
    </div> 
  
 <!-- <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

   
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
   <body>
       <div class="container-fluid">
       <div class="navbar-header">
            <h1>Lab Inventory Spreadsheet Form:</h1>
       <div id="Success" style="display:none">Thanks for submitting the form</div>

       <form id="bugForm" action="" method="post" enctype="multipart/form-data">
         <fieldset>
            <div class="form-group">
                  <label for="name">business_unit:</label>
                  <input type="name" class="form-control" name="Name" placeholder="Enter your name">
            </div>

            <div class="form-group">
                  <label for="email">lab_name:</label>
                  <input type="email" class="form-control" name="Email" placeholder="Enter your email">
            </div>

            <div class="form-group">
                  <label for="description">location:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">validated:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">computer_name:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">bmrn_asset:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">pc-make_model:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">os:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">notes:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">system_owner:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">vendor:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">model_instrument_name:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">instrument_friendly_name:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">instrument_validation_id:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">instrument_software:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">backup_data_format:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">nic_address:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">ethernet_jack:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">ip_address_vlan:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">image:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">backup:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">decommisioned:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>

            <div class="form-group">
                  <label for="description">last_verified:</label>
                  <input type="description" class="form-control" name="Description" placeholder="Enter a short description about the problem">
            </div>
            
            <div>
                  <label for="profilepic">Add a Screenshot:</label>
                  <input type="file" name="profilepic" id="profilepic">
            </div>
            <br />
            <input type="submit" class="btn btn-primary" value="Submit"/>
         </fieldset>
      </form>
      </div>
   
=======
            <label>Business Unit </label>
            <input name="taskName" type="text" placeholder="E.g. Code more" class="form-control">
            <label>Lab Name </label>
            <input name="taskName" type="text" placeholder="E.g. Code more" class="form-control">
            <label for="email">Email:</label>
            <input name="email" class="form-control" name="Email" placeholder="Enter your email">
           
            <div>
                <button type="submit"><strong>Submit</strong></button>
            </div>
        </form>
    </div> 
	
 
      

   

    <!--<div id="task-list">

      <ul>
        <% if(tasks) { %>
         <% tasks.forEach(function(task) { %>
             <li><%= task.business_unit, task.email %></li>

           <% }) %>
         <% } %>
        
      </ul>

    </div>  -->

  </body>
</html>


